  <label>Email:</label><br>
  <%= f.text_field :email %><br>

  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Username:</label><br>
  <%= f.text_field :username %><br>

  <label>Password:</label><br>
  <%= f.text_field :password %><br>

  <label>Age:</label><br>
  <%= f.text_field :age %><br>

  <label>Skill Level:</label><br>
  <%= f.text_field :skill_level %><br>

   <%= f.label "Instructor?" %> <br />
   <%= f.check_box :instructor %> <br />