<h3>Update Class</h3>

<%= form_for(@klass) do |c| %>
  <label>Class:</label><br>
  <%= c.text_field :name %><br>

  <label>Instructor:</label><br>
  <%= c.text_field :instructor %><br>

  <label>Day/Time:</label><br>
  <%= c.text_field :scheduled_time %><br>

  <%= c.submit %>
<% end %>